*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
latexFinal/LaboratoriumProblemowe1.run.xml
latexFinal/LaboratoriumProblemowe1-blx.bib
latexFinal/LaboratoriumProblemowe1.pdf
